<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="Log_in.css"> 
        <title>CafeteriaFlow</title>
    </head>
    <body>
        <h1 class="Log_in_h1">
            Вход
        </h1>
        <div class="log_in_block">
            <input placeholder="Введите почту" type="text" id="username" name="username">
            <input placeholder="Введите пароль" type="password" id="users_password" name="username">
            <button type="submit">Войти</button>
        </div>
    </body>
</html>