.Log_in_h1{
    text-align: center;
}
.log_in_block{
    border-radius: 15px;      /* Скругление */
    background-color: #f0f0f0;/* Цвет фона */
    padding: 20px;            /* Отступы внутри */
    border: 1px solid #ccc;   /* Тонкая рамка */
    width: 300px;             /* Ширина блока */
    margin: 0 auto;           /* Центрирование */
    gap: 10px; /*расстояние между элементами внутри бокса */
    flex-direction: column; /* как буду располагаться элементы */
    display: flex;/*флекс +вайб и все этом духе*/
}
