@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* При заходе на сайт автоматом скачается шрифт */
body, input, button, textarea, select {
    font-family: 'Nunito', sans-serif; /* ВЕЗДЕ будет Nunito */
    color: #22223b; /*темно-синий цвет текста везде*/
}
body
{
    padding: 0;/*отступы от границ*/
    overflow-x: hidden;/* no prokrutka po OX */
    background-color: #f2e9e4;
    margin: 0; /*отступ всего относительно границ страницы*/
    height: 100vh;/* тип body занимает 100% экрана*/
    gap: 20px;
}
.header
{
    width: 100%;
    height: 150px;
    background-color: #4a4e69;
    margin: 0;
}

.contnet_header
{
    width: 100%;
    height: 100%;
    /* Добавляем box-sizing, чтобы padding не ломал ширину 100% */
    box-sizing: border-box;
    /* Твои отступы (они сожмут контент внутрь) */
    padding: 0 50px; /* Сверху 0, по бокам 50px */
        display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button_
{
    padding: 0 20px;
    height: 60px;
    width: 150px;
    flex-shrink: 0;
    align-self: center;
}
.button_meals
{
    margin: 10px;
    display: flex;/*флекс +вайб и все этом духе*/
    flex-direction: row ; /* как буду располагаться элементы */
    gap: 20px; /*расстояние между элементами внутри бокса */
}
.button_in_meals
{
    height: 30px;
    width: 100px;
    align-self: center;
}
.my_logo_class
{
    width: 300px;
    height: 300px;
}
.balance_profile
{
    border-radius: 20px;/* Скругление */
    background-color: #c9ada7;/* Цвет фона */
    padding: 20px;/* Отступы внутри */
    border: 1px solid #9a8c98;   /* Тонкая рамка */
    width: 380px;/* Ширина блока */
    height: 300px;/*Высота блока */
    gap: 40px; /*расстояние между элементами внутри бокса */
    flex-direction: column; /* как буду располагаться элементы */
    align-items: center;
    position: absolute;
    font-size: 30px;
    display: flex;/*флекс +вайб и все этом духе*/
    top: 270px;
    left: 150px;

}
.check_profile
{
    border-radius: 20px;/* Скругление */
    background-color: #c9ada7;/* Цвет фона */
    padding: 20px;/* Отступы внутри */
    border: 1px solid #9a8c98;   /* Тонкая рамка */
    width: 380px;/* Ширина блока */
    height: 450px;/*Высота блока */
    gap: 40px; /*расстояние между элементами внутри бокса */
    flex-direction: column; /* как буду располагаться элементы */
    align-items: center;
    font-size: 30px;
    display: flex;/*флекс +вайб и все этом духе*/
    position:   absolute;
    top: 205px;
    right: -20px;
}
.button_balance
{
    padding: 0 20px;
    height: 40px;
    width: 150px;
    flex-shrink: 0;
    align-self: center;
    position: absolute;
    bottom: 10px;
    width: 67%;
}
