@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body, input, button, textarea, select {
    font-family: 'Nunito', sans-serif;
    color: #22223b;
}

body {
    padding: 0;
    overflow-x: hidden;
    background-color: #f2e9e4;
    margin: 0;
    height: 100vh;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #4a4e69;
    margin: 0;
}

.contnet_header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.button_ {
    padding: 0 20px;
    height: 60px;
    width: 150px;
    flex-shrink: 0;
    align-self: center;
}
.button_top 
{
    padding: 0 20px;
    height: 60px;
    width: 150px;
    flex-shrink: 0;
    align-self: center;
    display: flex; 
    justify-content: center; 
    width: 100%;
}
.my_logo_class {
    width: 150px;
    height: 150px;
}

.user_controls {
    position: absolute;
    top: 165px;        /* Чуть ниже хедера (150px) */
    left: 150px;       /* Там же, где начинается блок баланса */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    width: 420px;      /* Ширина как у блока баланса */
    justify-content: center;
}

.name_user {
    margin: 0;
    font-size: 24px;   /* Размер шрифта имени */
    white-space: nowrap;      /* Запретить перенос на новую строку */
    overflow: hidden;         /* Скрыть то, что вылезает */
    text-overflow: ellipsis;
}

.logout-btn {
    background: #e63946;
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: bold;
    white-space: nowrap;
}

.balance_profile {
    border-radius: 20px;
    background-color: #c9ada7;
    padding: 20px;
    border: 1px solid #9a8c98;
    width: 380px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Центрируем контент по вертикали */
    position: absolute;
    top: 220px;        /* Опускаем ниже, чтобы дать место имени */
    left: 150px;
    font-size: 30px;
    gap: 20px;
}

.button_balance {
    padding: 0 30px;
    height: 40px;
    width: 200px; 
}

/* --- ИСТОРИЯ ЗАКАЗОВ --- */
.check_profile {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: #c9ada7;
    padding: 20px;
    border: 1px solid #9a8c98;
    width: 380px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px; /* Уменьшил шрифт истории, а то 30px много */
    position: absolute;
    top: 205px;
    right: 0px;
    overflow-y: auto;
}

.alergen {
    padding: 0 20px;
    height: 60px;
    width: 420px;
    position: absolute;
    top: 600px;
    left: 150px;
}
.last-order-card
{
    font-size: 30px;
}