@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* При заходе на сайт автоматом скачается шрифт */
body, input, button, textarea, select,label {
    font-family: 'Nunito', sans-serif; /* ВЕЗДЕ будет Nunito */
    color: #22223b; /*темно-синий цвет текста везде*/
}
body
{
    margin: 0; /*отступ всего относительно границ страницы*/
    height: 100vh;/* тип body занимает 100% экрана*/
    display: flex;/*флекс +вайб*/
    justify-content: flex-start;/* где будет стоять по OX*/
    align-items: center;/*где будут стоять элементы по OY */
    padding-top: 150px;/* расстояние от верха*/
    box-sizing: border-box;/*чтобы padding не создавал скролл*/
    flex-direction: column;/* все элементы в body будут стоять колонной*/
}
.registr_block
{
    border-radius: 15px;/* Скругление */
    background-color: #c9ada7;/* Цвет фона */
    padding: 20px;/* Отступы внутри */
    border: 1px solid #9a8c98;   /* Тонкая рамка */
    width: 300px;/* Ширина блока */
    height: 270px;/*Высота блока */
    gap: 10px; /*расстояние между элементами внутри бокса */
    flex-direction: column; /* как буду располагаться элементы */
    display: flex;/*флекс +вайб и все этом духе*/
}
.input_inside
{
    background-color: #fafafa;/*цвет фона*/
    border: 0;/*толщина границ*/
    outline: 0;/*толщина границ, которые появляются при нажатии на поле ввода*/
    height: 35px;/*высота поля ввода*/
}
.button_
{
    height: 40px;
    width: 200px;
    align-self: center;
}
.input_box
{
    display: flex;
    flex-direction: column;
    justify-items: center;
}
a
{
    text-decoration: none;
}