<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bascket.css') }}">
    <title>CafeteriaFlow — Вход</title>
</head>
<body>
    <form method="post">
    {{ form.hidden_tag() }}
    <div class="header">
        <div class="contnet_header">
        {{ form.hidden_tag() }}
        {{ form.reviews(class_="button_") }}
        {{ form.menu(class_="button_") }}
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="my_logo_class" alt="Логотип">
        {{ form.top_up_acc(class_="button_") }}
        {{ form.profile(class_="button_") }}
        </div>
    </div>
    <h1>Завтрак</h1>
    <div class="photo_grid">
    {% for dish in breakfast %}
    {% for elem in object %}
    {% if dish.id == elem.dish_id %}
    <div class="meal_card">
        <div>
            <input type="hidden" name="dish_id" value="{{ dish.id }}">
            <img src="{{ url_for('static', filename='images/breakfast/' ~ dish.name ~ '.jpg') }}"
                 alt="{{ dish.name }}"
                 class="meal_image"
                 onerror="this.src='{{ url_for('static', filename='images/no_image.jpg') }}'">
            <h3>{{ dish.name }}</h3>
            <p class="price_meal">{{ dish.price }} руб.</p>
            <button type="submit" name="delete_dish_id" value="{{ dish.id }}" class="button_in_meals">-</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>
    <h1>Обед</h1>
    <div class="photo_grid">
    {% for dish in lunch %}
    {% for elem in object %}
    {% if dish.id == elem.dish_id %}
    <div class="meal_card">
        <div>
            <input type="hidden" name="dish_id" value="{{ dish.id }}">

            <img src="{{ url_for('static', filename='images/lunch/' ~ dish.name ~ '.jpg') }}"
                 alt="{{ dish.name }}"
                 class="meal_image"
                 onerror="this.src='{{ url_for('static', filename='images/no_image.jpg') }}'">

            <h3>{{ dish.name }}</h3>
            <p class="price_meal">{{ dish.price }} руб.</p>

            <button type="submit" name="delete_dish_id" value="{{ dish.id }}" class="button_in_meals">-</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endfor %}
    </div>
    <div class="bascket_summ">
        <h4>Итог:</h4> 
        <h4>{{ bascket_sum }} руб </h4>
    </div>
    <div>
        {{ form.accept_bascket(class_="accept_bascket") }}
    </div>
    </form>
    <div class="flash-overlay">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-card flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</body>
</html>
</html>
