<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
    <title>CafeteriaFlow — Вход</title>
</head>
<body>
    {{ form.hidden_tag() }}
    <div class="header">
        <form class="contnet_header" method="post">
        {{ form.hidden_tag() }}
        {{ form.reviews(class_="button_") }}
        {{ form.basket(class_="button_") }}
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="my_logo_class" alt="Логотип">
        {{ form.menu(class_="button_") }}
        {{ form.profile(class_="button_") }}
        </form>
    <div class="balance_profile">
        <a>
            Мой баланс:
        </a>
        <h2>
            {{ user.balance }} руб
        </h2>
        <form class="contnet_header" method="post">
            {{ form.hidden_tag() }}
            {{ form.top_up_acc(class_="button_balance") }}
        </form>
    </div>
    <div class="check_profile">
        {% if history %}
        <div class="last-order-card">
            <h3>История заказов:</h3>
            <p><strong>Блюда:</strong> {{ history[0].name }}</p>
            <p><strong>Сумма:</strong> {{ history[0].summa }} руб.</p>
            <p><strong>Статус:</strong> {{ history[0].info }}</p>
            <p><strong>Дата:</strong> {{ history[0].created_date.strftime('%d.%m.%Y %H:%M') }}</p>
        </div>
        {% else %}
            <p>Лох голодный</p>
        {% endif %}
    </div>
        <form class="contnet_header" method="post">
            {{ form.hidden_tag() }}
            {{ form.alergen(class_="alergen") }}
        </form>
    </div>
</body>
</html>
