<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='registration.css') }}">
    <title>CafeteriaFlow — Регистрация</title>
</head>
<body>
    <h1 class="registr_h1">Регистрация</h1>

        <form method="POST" class="registr_block">
            {{ form.hidden_tag() }}

            <div class="input_box">
                {{ form.email.label }}
                {{ form.email(class_="input_inside") }}
            </div>

            <div class="input_box">
                {{ form.password.label }}
                {{ form.password(class_="input_inside") }}
            </div>

            <div class="input_box">
                {{ form.name.label }}
                {{ form.name(class_="input_inside") }}
            </div>

            {{ form.submit(class_="button_") }}

            <p>Уже есть аккаунт? <a href="{{ url_for('login') }}">Войти</a></p>
        </form>
    <div class="flash-overlay">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash-card flash-{{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
</body>
</html>
