<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='top_up_acc.css') }}">
    <title>CafeteriaFlow — Вход</title>
</head>
<body>
    <form method="post">
    {{ form.hidden_tag() }}
    <div class="header">
        <div class="contnet_header">
        {{ form.hidden_tag() }}
        {{ form.reviews(class_="button_") }}
        {{ form.basket(class_="button_") }}
        <img src="{{ url_for('static', filename='images/logo.png') }}" class="my_logo_class" alt="Логотип">
        {{ form.menu(class_="button_") }}
        {{ form.profile(class_="button_") }}
        </div>
    </div>
    <div class="main-container">
        <div class="input_box">
            <label>Введите сумму</label>
            {{ form.top_up(class_="input_inside") }}
            {{ form.top_up_acc_balance(class_='button_') }}
        </div>
        <div class="subscription_block">
        <h2>Абонемент</h2>
        {% if current_user.has_active_subscription() %}
            <div class="status-active" style="color: green;">
                <h3>Активен</h3>
                <p>Действует до: {{ current_user.subscription_until.strftime('%d.%m.%Y') }}</p>
            </div>
        {% else %}
            <div class="status-inactive">
                <h3>Не активен</h3>
                <p>Купите абонемент, чтобы питаться бесплатно!</p>
                <p>Цена: <strong>3000 руб.</strong></p>
                {{ form.submit_subscription(class_="button_buy_sub") }}
            </div>
        {% endif %}
        </div>
    </div>
    </form>
</body>
</html>
</html>