<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="registration.css"> <!-- Не уверен по поводу подключения css файла -->
        <title>CafeteriaFlow</title>
    </head>
    <body>
        <h1 class="registr_h1">Регистрация</h1>
        <div class="registr_block"></div> <!-- в этот класс надо сделать скругленный прямоугольник -->
        <p>
            <input type="text" id="username" name="username" placeholder="Введите почту или номер телефона" required>
             <br><br><!--Патапим-->
            <input type="password" id="users_password" name="users_password" placeholder="Введите пароль" required>
        </p>
    </body>
</html>
