<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="registration.css"> 
        <title>CafeteriaFlow</title>
    </head>
    <body>
        <h1 class="registr_h1">
            Регистрация
        </h1>
        <div class="registr_block"> <!-- Эт для кубика -->
                <input type="text" id="username" name="username" placeholder="Введите почту" required>
                <input type="password" id="users_password" name="users_password" placeholder="Введите пароль" required>
                <button type="submit">Зарегестрироваться</button>
                <p>Место для регистрации через партнеров</p>
        </div>
    </body>
</html>
